* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fontFamily: 'roboto condensed', sans-serif;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    box-shadow: 0 0 4px #000;
    background-image: url(../img/pitch2.jpg);
    background-size: cover;
    background-position: center;
    font-family: var(--fontFamily);
    color: white;
}

.draw {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10vh;
    right: 50%;
    width: 180px;
    height: 180px;
    border: 3px solid white;
    border-radius: 50%;
    padding: 10px 20px;
    transform: translateX(50%);
    background-color: #00000088;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 2s;
    text-align: center;
    animation: show 3s ease both;
}

.draw:hover {
    color: yellow;
    border: 3px solid yellow;
    box-shadow: 0 0 15px yellow;
    transform: translateX(50%) rotate(1440deg);
}

.restart {
    position: fixed;
    bottom: 3vh;
    right: 3vw;
    width: 260px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    animation: show 1.5s ease both;
}

.restart:hover {
    background-color: #00000088;
    box-shadow: 0 0 15px #00000088;
}

.restart i {
    margin-left: 10px;
    font-size: 25px;
    transform: translateY(7%);
    transition: .7s;
}

.restart:hover i {
    transform: rotate(180deg);
}

.restart.move {
    animation: restart-move 3s ease both;
}

.restart.mobile {
    display: none;
}

.player-list {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 10%;
    left: 50%;
    width: 50%;
    height: 40vh;
    transform: translateX(-50%);
    animation: show 1.5s ease both;
}

.player-list h2 {
    padding-bottom: 20px;
    font-size: 36px;
    text-align: center;
    animation: show 1.5s ease both;
}

.player-list div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: show 1.5s ease both;
}

.player-list div p {
    margin: 2px;
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #00000055;
    animation: show 1.5s ease both;
}

.player-list div p i {
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 65%;
    animation: show 1.5s ease both;
}

.result h2 {
    display: none;
    margin-bottom: 20px;
    font-size: 36px;
}

.result h2.active-h2 {
    display: block;
}

.result div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    height: 100%;
}

.result div p {
    margin: 5px;
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 26px;
    background-color: #00000055;
    animation: show 1.5s ease both;
}

.teams-input-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 35%;
}

.teams-number,
.teams-size,
.players {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2vh;
    transition: 1s;
    animation: show 1.5s ease both;
}

.active {
    display: flex;
}

h1 {
    padding: 10px 50px;
    border-radius: 10px;
    background-color: #000000aa;
    font-size: 50px;
    box-shadow: 0 0 15px black;
}

input {
    width: 100px;
    height: 100px;
    margin: 20px 0;
    border: none;
    border-radius: 50%;
    background-color: #00000088;
    font-family: var(--fontFamily);
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 2px black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

input:focus {
    outline: none;
}

.players input {
    width: 30%;
    height: 86px;
    margin: 27px 0;
    border-radius: 10px;
    font-size: 35px;
}

button {
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
    font-family: var(--fontFamily);
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #00000088;
    box-shadow: 0 0 15px #00000088;
}

button i {
    margin-left: 2px;
}

button:hover i {
    animation: fade .7s ease-in both;
}

button i:nth-of-type(2) {
    animation-delay: .2s;
}

button i:nth-of-type(3) {
    animation-delay: .4s;
}

.players-button:hover i {
    animation: none;
}

.players-button.animate i {
    animation: fade .5s ease-in both;
}

footer {
    position: fixed;
    bottom: 1vh;
    left: 1vh;
    font-weight: bold;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes restart-move {
    0% {
        bottom: 3vh;
        right: 3vw;
    }

    40% {
        bottom: 16vh;
        right: calc(50vw - 130px);
        background-color: #00000088;
    }

    41% {
        transform: scale(1);
        bottom: 16vh;
        right: calc(50vw - 130px);
        background-color: #00000088;
    }

    100% {
        transform: scale(1.2);
        bottom: 16vh;
        right: calc(50vw - 130px);
        background-color: #00000088;
    }

}

@keyframes restart-move-mobile {
    0% {
        bottom: 2vh;
        right: 2vh;
    }

    40% {
        bottom: 16vh;
        right: calc(50vw - 15px);
    }

    41% {
        transform: scale(1);
        bottom: 16vh;
        right: calc(50vw - 15px);
    }

    100% {
        transform: scale(1.5);
        bottom: 16vh;
        right: calc(50vw - 15px);
    }

}

@keyframes fade {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1
    }
}

/* >>>>> MEDIA QUERIES <<<<< */

@media (max-width:1280px) {
    .result h2 {
        font-size: 26px;
    }

    .result div p {
        font-size: 22px;
    }

}

@media (max-width:1024px) {
    .result h2 {
        font-size: 24px;
    }

    .result div p {
        font-size: 20px;
    }

    h1 {
        font-size: 40px;
    }

    input {
        font-size: 40px;
    }
}

@media (max-width: 460px) {
    .draw {
        width: 120px;
        height: 120px;
        font-size: 24px;
    }

    .restart {
        display: none;
    }

    .restart.mobile {
        display: block;
        bottom: 2vh;
        right: 2vh;
        padding: 5px;
        width: max-content;
        border: none;
        text-align: center;
    }

    .restart.mobile i {
        margin-left: 0;
        font-size: 30px;
        transform: translateY(7%);
    }

    .restart.mobile.move {
        animation: restart-move-mobile 3s ease both;
    }

    .player-list {
        width: 80%;
        height: 50vh;
    }

    .player-list h2 {
        text-align: center;
        font-size: 28px;
    }

    .player-list div {
        overflow: auto;
    }

    .player-list div p {
        font-size: 18px;
    }

    .player-list div p i {
        margin-left: 8px;
        font-size: 16px;
    }

    .result {
        flex-direction: column;
        overflow-y: auto;
        justify-content: flex-start;
        padding-top: 30px;
    }

    .result h2 {
        font-size: 28px;
        margin: 10px 0;
    }

    .result h2.active-h2 {
        display: block;
        font-size: 28px;
    }

    .result div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .result div p {
        margin: 2px;
        padding: 2px 10px;
        font-size: 18px;
    }

    h1 {
        padding: 10px 20px;
        font-size: 24px;
        text-align: center;
    }

    input {
        width: 80px;
        height: 80px;
        font-size: 30px;
    }

    .players input {
        width: 80%;
        height: 50px;
        font-size: 24px;
    }

    button {
        padding: 8px 16px;
        font-size: 16px;
    }

    footer {
        bottom: .5vh;
        font-size: 12px;
    }
}

@media (max-width:1023px) and (orientation:landscape) {
    .draw {
        bottom: 8vh;
        width: 100px;
        height: 100px;
        font-size: 24px;
    }

    .restart {
        display: none;
    }

    .restart.mobile {
        display: block;
        bottom: 2vh;
        right: 2vh;
        padding: 5px;
        width: max-content;
        border: none;
        text-align: center;
    }

    .restart.mobile i {
        margin-left: 0;
        font-size: 30px;
        transform: translateY(7%);
    }

    .restart.mobile.move {
        animation: restart-move-mobile 3s ease both;
    }

    .player-list {
        width: 80%;
        height: 50vh;
    }

    .player-list h2 {
        font-size: 28px;
    }

    .player-list div {
        overflow: auto;
    }

    .player-list div p {
        font-size: 16px;
    }

    .player-list div p i {
        margin-left: 8px;
        font-size: 14px;
    }

    .result {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 65%;
        animation: show 1.5s ease both;
    }

    .result h2 {
        font-size: 22px;
        margin: 10px 0;
        text-align: center;
    }

    .result h2.active-h2 {
        display: block;
        font-size: 22px;
    }

    .result div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .result div p {
        margin: 2px;
        padding: 2px 10px;
        font-size: 16px;
    }

    h1 {
        margin-right: 15px;
        padding: 10px;
        font-size: 20px;
        text-align: center;
    }

    .teams-number,
    .teams-size,
    .players {
        flex-direction: row;
    }

    input {
        width: 80px;
        height: 80px;
        margin-right: 15px;
        font-size: 30px;
    }

    .players input {
        width: 30%;
        height: 50px;
        margin-right: 15px;
        font-size: 20px;
    }

    button {
        padding: 8px 16px;
        font-size: 16px;
    }

    footer {
        bottom: .5vh;
        font-size: 12px;
    }
}